$font-MabryPro: 'Mabry-Pro';


// Colors
$links-hover-color: #150AFF;
$btn-color:#150AFF;
$btn-hover-color: #a29eff;
$section-orange:#FF7F00;
$section-pink:#FFB3D7;
$span-yellow: rgb(255,255,0);
$span-blue:#150AFF;
$img-border-color: #FFD900;
// Media queries
$desktop-extra: 1440px;
$desktop-medium: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;