.advantages-section {
    background-color: $section-pink;
    font-size: 10px;
    padding-top: 9px;
    padding-bottom: 26px;

    .advantages-header {
        text-align: center;
        padding-bottom: 29px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 24px;
            font-weight: 900;
            line-height: 31px;
            max-width: 653px;
        }

        @include tablet {
            font-size: 30px;
        }
    }

    .advantages-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 122px;

        @include desktop {
            flex-direction: row;
        }

        .bg-rotate {
            display: inline-block;
            /* Строчно-блочный элемент */
            position: relative;
            /* Относительное позиционирование */
            width: 290px;
            margin: 0;

            @include tablet {
                width: 630px;
            }

            & img {
                display: block;
                z-index: 1;
            }

            &::after {
                content: '';
                /* Выводим рамку */
                position: absolute;
                /* Абсолютное позиционирование */
                left: 0;
                top: 0;
                /* Положение */
                width: 100%;
                height: 100%;
                /* Размеры */
                transform: rotate(-3deg);
                /* Поворачиваем */
                background: $img-border-color;
                /* Цвет внутренней рамки */
                border: 2px solid $img-border-color;
                /* Параметры рамки */
                box-sizing: border-box;
                /* Не учитываем padding */
            }
        }

        &__metas {
            display: flex;
            flex-direction: column;
            width: 100%;
            order: 1;

            @include desktop {
                order: 0;
                width: 41%;
            }
            p{
                padding-bottom: 10px;
            }

            .first-meta-elem {
                margin-top: 0px;
            }

            .meta-elem {
                padding-top: 22px;
                padding-left: 54px;
                position: relative;
                &::before{
                    content: url("/src/img/li-mark.svg");
                    position: absolute;
                    left: 0;
                }
                h3 {
                    padding-bottom: 10px;
                }
            }
            
            .article{
                display: flex;
                flex-direction: column;
                height: 429px;
                justify-content: flex-end;
                margin-left: 4px;
                
                h3{
                    padding-bottom: 10px;
                }
                p{
                    padding-top: 5px;
                    padding-bottom: 53px;
                }
            }
        }
    }
}