.benefits-section{
    display: flex;
    flex-direction: column;
    background-color: #FFB3D7;
    .benefits-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-bottom: 113px;
        .benefits-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 257px;
            width: 413px;
            text-align: center;
        }
    }
}