.benefits-section{
    display: flex;
    flex-direction: column;
    background-color: #FFB3D7;
    .benefits-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 51px;
        padding-bottom: 113px;
        @include tablet{
            flex-direction: row;
        }
        .benefits-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 250px;
            width: 313px;
            text-align: center;
            @include tablet{
                height: 257px;
                width: 413;
            }
            img{
                height: 99px;
            }
        }
    }
}