.featured-products{
    background-color: #FFB3D7;
    text-align: center;
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktop{
            flex-direction: row;
        }
        &__item{
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            padding-bottom: 75px;
            justify-content: center;
            align-items: center;
           @include desktop{
               padding-bottom: 155px;
           }
            .product{
                z-index: 2;
            }
            &__metas{
                height: 180px ;
                width: 314px ;
                background-color:#FFD900;
                border-radius: 103px;
                font-size: 24px;
                display: flex;
                margin-top: -60px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include tablet{
                    width: 414px;
                }
                h3{
                    margin: 0;
                }
            }
        }
    }
}