.main{
    background-image: url(/src/img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    .main-text{
        padding-left: 30px;
        padding-bottom: 216px;
        @include tablet{
            padding-left: 79px;
        }
        p{
            padding-bottom: 40px;
        }
    }
    .main-bottom-logo{
        position: absolute;
        right: 0;
        bottom: -30%;
        height: 478px;
        @include tablet{
            bottom:-30%
        }
        @include desktop{
            bottom: -20%;
        }
    }
}