.main {
    background-image: url(dist/img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;

    .main-text {
        padding-bottom: 216px;

        p {
            font-size: 27px;
            line-height: 32px;
            padding-bottom: 49px;
            padding-top: 23px;
            max-width: 573px;
        }
    }

    .main-bottom-logo {
        position: absolute;
        right: 0;
        bottom: -22%;
        height: 329px;


        @include tablet {
            bottom: -38%;
            height: 662px;
        }

        @include desktop {
            bottom: -32%;
        }
    }
}