.newsletter-section {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(/src/img/bg-newsletter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;

    .metas {
        display: flex;
        flex-direction: column;
        padding-top: 107px;
        align-items: center;
        text-align: center;

        p {
            width: 300px;
            font-size: 16px;
            @include tablet{
                width: 555px;
                font-size: 24px;
                font-weight: 700;
                line-height: 31px;
            }
        }
        
    }

    form {
        display: flex;
        padding-top: 27px;
        padding-bottom: 226px;
        width: 310px;
        justify-content: center;
        @include tablet{
            width: 526px;
        }
        .btn{
            width: 70px;
            @include tablet{
                width: 194px;
            }
        }

        input {
            background-color: transparent;
            width: 200px;
            height: 60px;
            font-size: 16px;
            border: 4px solid #FFFFFF;
            color: #fff;

            @include tablet {
                width: 294px;
                height: 76px;
                font-size: 20px;
            }
        }
    }
}