.footer {
    background-color: #FF7F00;
    height: 650px;
    @include tablet{
        height: 400px;
    }

    .top-footer {
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .logo {
            position: relative;
            padding-top: 50px;
            padding-bottom: 20px;
            @include tablet{
                padding-bottom: 0px;
            }
            .logo-bottom {
                position: absolute;
                left: 21px;
                top: 60px
            }
        }



        .footer-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100px;
            font-weight: 900;
            @include tablet{
                align-items: flex-start;
                flex-direction: row;
                width: 400px;
            }

            ul {
                line-height: 44px;
                padding-top: 5px;
                padding-bottom: 5px;
                @include tablet{
                    padding-top: 56px;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .bottom-footer {
        .socials{
            border-bottom: 2px solid rgba(255, 255, 255, 0.4);
            @include tablet{
                border-bottom: 0;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        height: 100px;
        @include tablet{
            flex-direction: row;
            height: 120px;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
}